# Private SSH keys and credentials
*.pem
*.key
*.crt
*.pfx
*.p12
*.der
*.csr
*.env
.env.*
secrets.*
credentials.*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.nfs*

# Misc
__pycache__/
.codegpt/
.vscode/
*.pyc
pip-log.txt
poetry.lock
.venv/
env/
venv/
*.log
*.json
profile.html
misc/

# Local data, config, and logs
en_backup.db
config.json
*.log

# Output folders
md/
html/